@media screen and (max-width: 1024px) {
    body .navbar{
        top:0;
    }
    body .cont {
        margin-right: 5%;
        margin-left: 5%;
        margin-top: 19%;
    }
    body .cont .letter {
        top: 17%;
        width: 293px;
    }
}
@media screen and (max-width: 768px) {
    body .cont {
        margin-top: 40%;
    }
    body .cont .contact-cont button {
        width: 25%;
    }
   
}
@media screen and (max-width: 680px) {
    body .cont .letter {
        width: 167px;
    }
}
@media screen and (max-width: 560px) {
    body .cont .letter {
        top: 16%;
        width: 180px;
    }
}
@media screen and (max-width: 485px) {
    body .cont .letter {
        top: 16%;
        width: 133px;
    }
}



@media screen and (max-width: 425px) {

    body .cont {
        margin-top: 53%;
    }
    body .cont .letter {
        top: 15%;
        width: 182px;
    }
}

@media screen and (max-width: 395px) {

    body .cont {
        margin-top: 61%;
    }
}
@media screen and (max-width: 375px) {
    body .cont .contact-cont .title {
        padding: 1rem 0rem;
    }
    body .cont {
        margin-top: 71%;
    }
    body .cont .letter {
        top: 15%;
        width: 119px;
    }
}

