body {

    .cont {

        border: 3px solid black;
        margin-right: 200px;
        margin-left: 200px;
        margin-top: 100px;
        margin-bottom: 40px;

        .letter {
            pointer-events: none;
            position: absolute;
            top: 6%;
            left: 2%;
            width: 400px;

            img {
                width: 100%;
            }
        }

        .contact-cont {
            margin-top: 7%;
            width: 100%;
            padding-bottom: 2.5rem;

            .title {
                border-bottom: 3px solid black;
                padding: 1rem 8rem;
                margin-bottom: 3rem;

                h1 {
                    font-size: 1.3rem;
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: 600;
                    text-align: center;
                }
            }

            form {
                width: 60%;

                .form-group {

                    .title2 {
                        font-family: Arial, Helvetica, sans-serif;
                        font-weight: 600;
                    }

                    .input-group {
                        input {
                            border: 1px solid black;

                            &:focus {
                                box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(63, 58, 63, 0.5);
                            }
                        }

                        .input-group-prepend {
                            span {
                                border: 1px solid black;
                                background-color: black;

                                i {
                                    color: white;
                                }
                            }
                        }

                        textarea {
                            border: 1px solid black;
                            &:focus {
                                box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(63, 58, 63, 0.5);
                            }
                        }
                    }

                    .input-group-spec {
                        input {
                            background-color: #323232;
                            color: white;
                            border: 1px solid black;
                        }

                        .input-group-prepend {
                            span {
                                a {
                                    text-decoration: none;
                                    color: white;

                                    &:hover{
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            button {
                width: 10%;
                margin-top: 1rem;
            }

        }
    }
}